aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx[http2]==0.25.2
motor==3.3.2
numpy
opencv-python
pillow==9.5.0
pymongo==4.6.3
psutil
py-tgcalls==0.9.7
pykeyboard
kurigram==2.1.35
python-dotenv
pyyaml==6.0.1
requests
speedtest-cli
spotipy
tgcrypto
unidecode
uvloop
yt-dlp
youtube-search
youtube-search-python
